<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Choose Scoring Category</title>
  <style>
    body {
      color: yellow;
      background-color: darkblue;
    }

    a {
      color: white;
    }

    table {
      border: solid thin;
      border-collapse: collapse;
    }

    th, td {
      border: solid thin;
      padding: 0.5rem 2rem;
    }

    td {
      text-align: left;
      white-space: nowrap;
    }
  </style>
</head>
<body>

<h1>Game Over</h1>
<h3>Your Score: <span th:text="${score}">125</span></h3>
<table>
  <tr>
    <th>Category</th>
    <th>Roll</th>
    <th>Score</th>
  </tr>
  <tr th:each="category : ${categories}">
    <td th:text="${category.description}">FULL HOUSE</td>
    <td th:text="${category.diceRoll}">1 2 3 4 5</td>
    <td th:text="${category.score}">1</td>
  </tr>
</table>

<br/>

<form action="/start-game" method="post">
  <button type="submit">Start New Game</button>
</form>

</body>
</html>